[2019-04-02 17:24] trew100 opened #5 "The Cypress reporter doesn't report the steps to RP"
Hi

I'm trying to report my tests to ReportPortal with the agent-js-cypress

My setup file is like in the repo man.

I set desc to each test in the suite like this
[code]

While the test reported to RP only the name of the test display in launch without the steps.
step display only when the test failed so the error log show in the details

when I report with Pytest for example, all the steps repor

[2019-04-03 08:14] filland commented on #5
@VladislavAkulich could you help ?

[2019-04-04 10:36] JagobaMeabe opened #6 "Could not locate the bindings file error"
Hi! I have a cypress project working fine, and I am trying to communicate it with a report portal instance. So I followed the steps to install the report portal agent and client for cypress, but now when I run cypress I get the following error:

**Error: Could not locate the bindings file. Tried:**
- It tries in ...\node_modules\deasync\ directory, inside folders such as build or debug, that don't

[2019-04-10 16:23] DzmitryHumianiuk commented on #6
@avarabyeu can you help with this?

[2019-04-10 16:24] DzmitryHumianiuk commented on #5
@avarabyeu ? could you take a look?

[2019-04-26 11:04] avarabyeu commented on #5
@trew100 @filland I expect you should see the following structure in ReportPortal:
[SUITE] - My website Login Page
[TEST]      -- 1: Login Page Check Elements
[TEST]      -- 2 : Incorrect user name or password
[TEST]      -- 3: Correct user name or password

What kind of steps you want to see here?

[2019-04-27 19:58] trew100 commented on #5
I want to see test details like this.
https://web.demo.reportportal.io/ui/#default_personal/launches/all%7Cpage.page=1&page.size=50&page.sort=start_time%2Cnumber%2CDESC/5cc46170826fb00001315fec%7Cpage.page=1&page.size=50&page.sort=start_time%2CASC/5cc46170826fb00001315fed%7Cpage.page=1&page.size=50&page.sort=start_time%2CASC/5cc46170826fb00001315fee%7Cpage.page=1&page.size=50&page.sort=start_time%

[2019-05-23 08:20] eylonmalin commented on #6
same problem here

[2019-07-08 03:09] Viacheslav-Romanov commented on #6
Hi @avarabyeu ! Any news so far?

[2019-07-11 16:22] fraser-m-hurley-LTK opened #8 "How to get logging in report"
Hi, I'm looking to implement report portal for a cypress test suite I have.

From looking through the code I can see there is a sendLog method that is called on the rp:log event being fired. What I don't really understand is how/when that rp:log event is triggered (and therefore what to do within my suite when I want to log something). I also see there is a bunch of event constants in the constant

[2019-07-16 09:11] ryanrosello-og commented on #6
Howdy @avarabyeu  @DzmitryHumianiuk
I am also encountering this error.

**My environment:**
Windows 10
Nodejs v10.16.0

`package.json`
[code]

`cypress.json`
[code]

[code]

`2019-07-16T08_59_07_802Z-debug.log`

[2019-07-16T08_59_07_802Z-debug.log](https://github.com/reportportal/agent-js-cypress/files/3396238/2019-07-16T08_59_07_802Z-debug.log)

Please let me know if you need additional informati

[2019-07-24 11:58] fraser-m-hurley-LTK commented on #6
Did some digging on this and where its occuring for me. I believe it is related to this issue [deasync issue 98](https://github.com/abbr/deasync/issues/98). It might be worthwhile trying to remove the use of deasync

[2019-07-24 12:57] fraser-m-hurley-LTK commented on #6
Think I may have a fix for this. Will create a separate branch and PR for it in a bit

[2019-07-25 10:44] DzmitryHumianiuk commented on #6
@fraser-m-hurley-LTK looking forward

[2019-07-29 11:42] richardszanyi-epam commented on #6
@fraser-m-hurley-LTK LMK if you have a fix for it, we are experiencing the same issue with deasync dependency.

[2019-07-29 14:07] fraser-m-hurley-LTK commented on #8
@avarabyeu are you able to provide in info on this?

[2019-08-05 08:39] tszebeni commented on #6
We could fix the mentioned issue by eliminating deasync module from code, but a more serious issue we have been faced with the package 'reportportal-client': the integration has race conditions which is probably bad design, e.g. when tests are finishing in different order the internal mapping is failing after 10-12 tests.

[2019-08-05 08:55] fraser-m-hurley-LTK commented on #6
Yeah I eliminated the deasync module but there are other problems that raise their head at that point. I've noticed on some runs the 'end launch' call is not being made I believe because the parent process may be shutting down before its had a chance to execute

[2019-08-16 12:02] psubrambe opened #24 "Integration Guidance required for Cypress with ReportPortal"
agent-js-cypress by using the node package we able to integrate with Cypress framework but there is no documentation in ReportPortal.io site

[2019-10-04 09:26] violant commented on #6
The same issue here.

[2019-10-11 17:25] DzmitryHumianiuk commented on #6
Guys, if you can send PR with fix - it will be helpful.
We still missing team member, who can address this issue.

[2019-10-11 17:38] richardszanyi-epam commented on #6
@DzmitryHumianiuk To be honest, we've found out that a whole refactor to the agent's code could be a viable fix.. We made some investigations, and tried to fix potential issues - cypress is just too flaky.

[2019-10-23 13:36] maluyvova opened #9 "Launch "undefined" not found"
Error: Launch "undefined" not found
    at RPClient.finishLaunch (/node_modules/reportportal-client-restler/lib/report-portal-client.js:171:55)
    at ReportPortalReporter.finishLaunch (/node_modules/agent-js-cypress/rp-reporter.js:75:41)
    at Runner.ReportPortalReporter.runner.on (/node_modules/agent-js-cypress/rp-reporter.js:65:18)
    at emitOne (events.js:116:13)
    at Runner.emit (events.j

[2019-11-14 00:23] vibha-somashekhara opened #10 "filename.match(/#\d+-(.*)/)[0]; Cannot read property '0' of null"
I following the instructions as in readme file.

1) installed both dependencies
2) Added reportportal options in cypress.json
{
  "defaultCommandTimeout": 10000,
  "env": {
    "baseURL": "my url"
  },
  "projectId": "pyvpcd",

    "reporter": "agent-js-cypress/rp-reporter.js",
    "reporterOptions": {
        "endpoint":"https://web.demo.reportportal.io",
        "token":"d1726dd7-5dc8-4cf2-82e7-

[2019-11-25 14:16] evjlobanova commented on #10
@AmsterGet Could you please help with this?

[2019-11-26 09:16] vibha-somashekhara commented on #10
I tried this again by not adding cypress.js at all. I could get the results on ReportPortal. But each spec is logged as a separate launch.

[2020-01-20 21:55] albadam000 commented on #6
Hi All, what is the conclusion here (if there's any)? ReportPortal is not working with cypress at its current state? Thanks

[2020-01-21 06:42] DzmitryHumianiuk commented on #6
@albadam000 give us few days (till Jan 25).
Team re-working it from scratch and will release it soon.

[2020-01-21 08:29] albadam000 commented on #6
Appreciate the quick response, thanks.
I'm actually having a different issue. I implemented the integration exactly as in the readme; the test results are getting reported to the portal but after the first one or to tests cypress is crashing with below error messages and logs.
https://gist.github.com/albadam000/98e9c5b059d6ba5a0b32186999dd7a27
https://gist.github.com/albadam000/496467867707f40f813

[2020-01-21 09:34] DzmitryHumianiuk commented on #6
@ElenaRomanchuk plz consider comment above during fixes

[2020-02-05 01:12] albadam000 commented on #6
Hi there, will there be a new version released in the near future? Thanks!

[2020-02-07 12:44] Comeonautomaten opened #15 ""isLaunchMergeRequired":true option does not work with Report Portal v5 0"
"isLaunchMergeRequired":true option does not work with Report Portal v5 0

Tested on the example.spec with main.js, observed that "isLaunchMergeRequired"=true is not working.
Launches are not shown as merged in the Report portal.

Note: Other options "rerun" and "debug" is working as expected

Environment:
Report Portal : v5 0 0 (Installed on Google Kubernetes)
Cypress: 3.8.2

[2020-02-07 13:50] Comeonautomaten commented on #15
Tested on Cypress: 3.8.3. Used Cypress.js custom script. Following error:
[code]

[2020-02-13 12:26] wiibaker commented on #6
I'm also experiencing the same `{errorCode: 4001,message: "Incorrect Request. [Value is not allowed for field 'status'.] "}` error as @albadam000

Tried exactly same tests against ReportPortal v4 and it worked fine.

[2020-02-13 13:10] wiibaker commented on #10
I second @vibha-somashekhara on the question

Would like to also see an working example project with correct configuration and _clearly_ stated the commands that are needed to run. Now I'm a bit confused would you need to run the tests by `cypress run` or with the `node scripts/cypress.js` ??

[2020-02-13 14:13] Comeonautomaten commented on #6
npm install does not install the latest packages. It installs Report Portal v4 package only.  If you compare the source code in node_module with the code here in git, they will be different.  It worked with Report portal 5 when I use the example in this git repo with Report Portal v5.

[2020-02-19 08:02] Comeonautomaten commented on #15
This issue is observed when the launch ID and launch number are not in sync.
This scenario is possible when any other test framework is using same report portal along with Cypress.

[2020-03-03 10:11] joseignacioojeda opened #19 "The version published in npm registry is ahead of the package.json in the repository"
The last version in https://www.npmjs.com/package/agent-js-cypress is 1.1.3 and in the package.json in the Github repository is 1.1.2. Could you publish and sync the last changes to the npm registry?

[2020-03-05 11:11] evjlobanova commented on #19
@ElenaRomanchuk could you please take a look?

[2020-03-10 16:32] rbdodds-tango opened #21 "Current NPM Version 1.1.3 has a high risk vulnerability"
Please remove the `reportportal-client-restler` dependency as it leverages a project that has been dead for 5 years and has security risks.

Dependency of -> agent-js-cypress
Path -> agent-js-cypress > reportportal-client-restler > restler > qs
More info -> https://npmjs.com/advisories/1469

├─┬ agent-js-cypress@1.1.3
│ └─┬ reportportal-client-restler@1.0.0
│   └─┬ restler@3.4.0
│     └── qs@1.2.0

[2020-03-16 12:56] wiibaker commented on #15
I started playing around on this. Used the latest "master" code of this _agent-js-cypress_ and _client-javascript_ (report-portal-client). The latest commits by @ElenaRomanchuk seemed to fix the "launch not finished" issue observed at least in #6

Noticed two things:

1. The launch number in temp file does not match always the actual (global) launch id in ReportPortal (see the @Comeonautomaten obs

[2020-03-16 13:20] wiibaker commented on #15
I do have a working code on the solution I did and can share it in some forks if wanted

[2020-03-16 13:35] ElenaRomanchuk commented on #15
Thanks, @wiibaker! It would be helpful.

[2020-03-16 16:02] wiibaker commented on #15
I put the code now in these

https://github.com/wiibaker/client-javascript
https://github.com/wiibaker/agent-js-cypress

there is an example tests in

https://github.com/wiibaker/agent-js-cypress/tree/master/example

which should be be able to run with "npm install & npm test". Of course requires a running ReportPortal5 at "localhost" and the "reportingOptions" set to match.

[2020-03-17 14:30] DiscoElevator commented on #21
Hello, @rbdodds-tango
Thanks for raising this issue. Next release for support RP v5 will have updated dependencies. You can see them in the master branch: [package.json](https://github.com/reportportal/agent-js-cypress/blob/master/package.json)
Please reopen if you have any questions or concerns.

[2020-03-17 14:30] #21 closed

[2020-03-25 10:44] romerobu commented on #5
@trew100 did you find the solution? I'm facing the same issue

[2020-03-25 11:36] DzmitryHumianiuk commented on #5
@ElenaRomanchuk has ticket for next sprint for investigation.

[2020-03-30 22:23] romerobu commented on #5
@ElenaRomanchuk @DzmitryHumianiuk  Thanks!

[2020-03-31 17:19] alexeiser commented on #9
I am seeing this as well when we Cypress runs with more than 14 tests (the number is variable but always after 30 tests, it fails).

Low number of tests work fine.

[2020-03-31 18:07] romerobu opened #25 "Report Portal Launch when executed in Jenkins not finished"
Hi,

My project is configured with cypress client according to the instruction of this repository.
I've executed it locally integrated with ReportPortal and works OK. However when I execute it on Jenkins (pipeline) even though Jenkins build is success, in Report Portal execution starts fine but never ends. I think it could be some kind of async issue as it seems that report portal is not receiving

[2020-04-03 14:55] DzmitryHumianiuk commented on #25
@romerobu RP version and lib version?

[2020-04-14 22:58] rbdodds-tango commented on #9
I'm seeing a similar issue whenever there is a 'fail' event in the before all hook.

[2020-04-20 17:16] cypressher commented on #9
Started hitting this issue recently when running cypress suites. They just end abruptly with the error as mentioned above. Any help or suggestions will be greatly appreciated!

[2020-04-23 15:24] ElenaRomanchuk commented on #15
#27

[2020-04-24 15:04] #15 closed

[2020-04-29 09:27] jadut opened #33 "Field 'startTime' shouldn't be null."
Hi All,

I'm trying to use the latest code from the master branch to output my cypress test results into Report Portal. Everything is setup as specified in the readme file, however when I run the tests I get the following error about the start time shouldn't be null.

`Error: Request failed with status code 400: {"error_code":4001,"message":"Incorrect Request. [Field 'startTime' shouldn't be null.

[2020-04-29 20:44] albadam000 opened #35 "Tests stuck in running state in RP when executed from a docker container"
When running cypress tests from within a docker container, the tests are not finishing but getting stuck in a run state in ReportPortal.

The docker image used is : cypress/browsers:node13.6.0-chrome80-ff72
Command to execute tests:
<entrypoint.sh>
npx cypress run --headless --browser $browser --config-file=cypress/cypress.$env.json --env ***

If the above npx cypress run is the last command in th

[2020-05-12 09:29] vishallanke opened #36 "Test cases fails to Merge"
Command is `npx cypress run`
I can see that .tmp file gets created. However, I can not see merge launch on report portal.
Inside Cypress.js, I have added logs, these logs are not visible.

`$ npx cypress run

====================================================================================================

  (Run Starting)

  ┌────────────────────────────────────────────────────────────────────

[2020-05-12 09:31] vishallanke opened #37 "Uploading tests gets stuck when executed from Git Pipeline"
![image](https://user-images.githubusercontent.com/46259109/81667798-5fe80080-9461-11ea-8651-b134e3ebd192.png)

- Execution is from Git
- Many a times, test cases gets stuck

[2020-05-13 06:09] albadam000 opened #38 "ReportPortal custom commands not sending logs to RP"
The ReportPortal custom commands are not sending logs to RP (tried all custom commands, the logs are not showing up in reportportal: cy.log(), cy.trace(), cy.debug()... )

The test agent is configured correctly, launches, test suite and test steps are created in RP, also failing test logs and stacktraces are attached, but using the custom commands do not yield any additional logs. cy.screenshot()

[2020-05-13 06:18] albadam000 opened #39 "Add the option to send more detailed logs to ReportPortal"
There is a strong need to push more detailed logs into ReportPortal, as especially with tests running in CI or in K8S, it is really difficult to investigate failures.

Please provide an option to send the below logs to RP even for successful test executions.

Useful logs would be:
- command log from cypress
- cypress console output
- browser console output (nice to have)
- filter/trim logs (nice t

[2020-05-13 13:52] vishallanke commented on #37
It seems agent is not working from Git if test cases gets failed.
If test case gets failed, then those launches and attachment wont get uploaded.

I found a launch, when it goes to completed state after 1 day. It has 2 test cases. 1 Pass and 1 failed. Only pass test case gets visible and that after 1 day.

[2020-05-14 16:39] michaelvoase commented on #6
Did you get a resolution to this? I am experiencing this error also.

[2020-05-14 21:27] albadam000 commented on #6
@michaelvoase using the latest version of the agent from the master branch solved the issue for me. Try adding the below to your package.json and do an npm install:
    "agent-js-cypress": "https://github.com/reportportal/agent-js-cypress.git#master",

[2020-05-14 21:42] michaelvoase commented on #6
@albadam000 thanks for that.. seems to have got a little further.

[code]

[2020-05-15 09:24] michaelvoase commented on #15
I'm still having an issue with this:

Using the examples above i'm getting the following error:

`TypeError: Cannot read property 'then' of undefined`

Could someone advise?

[2020-05-25 12:37] harvzkie opened #43 "[v5] Unable to finish test launch even when results are uploaded"
**Describe the bug**
Using Cypress, when executing the spec will leave the automation running because it is waiting for the test launch to finish.

The installation method is using without docker.

There is no error reported from the logs.

**Expected behavior**
Test launch should finish and automation should not leave hanging

**Screenshots**
If you take a look on the screenshot, the test launch

[2020-06-01 09:51] maromg commented on #19
I'm confused about it too,

are you developing on master and releasing on develop?

[2020-06-01 13:49] schurakov opened #44 "When will you post a new version in npm?"
Last version was published a year ago: https://www.npmjs.com/package/agent-js-cypress.

Now the code in master branch is different from the plugin code in npm. Thats why instruction for setup custom commands in README.md https://github.com/reportportal/agent-js-cypress/blob/master/README.md#setup-reportportal-custom-commands doesn't work when you install plugin via npm.

[2020-06-03 13:55] diogoteodoro commented on #15
I'm having the same error:

`\agent-js-cypress\lib\mergeLaunches.js:49
        callClientMergeLaunches(reporterOptions).then(() => resolve());
                                                ^
TypeError: Cannot read property 'then' of undefined`

[2020-06-03 13:58] diogogt commented on #15
I'm having the same error:

`\agent-js-cypress\lib\mergeLaunches.js:49
        callClientMergeLaunches(reporterOptions).then(() => resolve());
TypeError: Cannot read property 'then' of undefined`

[2020-06-03 14:41] michaelvoase commented on #15
How would the above work in TS?
We get the following:

`internal/modules/cjs/loader.js:964
    throw err;
    ^

Error: Cannot find module '/Users/michaelv/IdeaProjects/explore-mobile-test-framework-poc/main.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:961:17)
    at Function.Module._load (internal/modules/cjs/loader.js:854:27)
    at Function.executeUserEntryPoint [

[2020-06-03 18:55] diogogt opened #45 "Fail to merge reports"
Hello,
I'm using the **agent-js-cypress**  from master and I have error on **reportportal-client**.

The **agent-js-cypress** send the _launches_ like String but the API wait _Long value_ :

The **agent-js-cypress**  send
`{
  description: 'Merged launch',
  endTime: 1591208166778,
  extendSuitesDescription: true,
  launches: [ '3bb36bf8', '07e2f9ad', '27de20d4', '56da7005' ],
  mergeType: 'BASIC'

[2020-06-03 19:38] paulmwhite commented on #45
I’m seeing this same issue

[2020-06-04 04:18] vishallanke commented on #45
I am seeing same issue. Along with one major observation that from Git when I trigger pipelines, failed test cases gets stuck for a day and never gets updated inside RP

[2020-06-05 10:57] romerobu commented on #25
"agent-js-cypress": "^1.1.3" and last version of RP @DzmitryHumianiuk

[2020-06-05 15:42] mleonard0826 opened #46 "Using agent-js-cypres along with mochawesome reporter via cypress-multi-reporters"
I'm trying to both generate a local report using mochawesome and send test data to ReportPortal.io for my Cypress project. I think the config should be something like:

[code]

When I try that, I just ECONNREFUSED errors from reportportal. Is it possible to use the rp-reporter in tandem with another in this way? If not currently, is that planned for the future?

[2020-06-09 15:13] paulmwhite commented on #46
This works for me:

cypress.json
`  "reporter": "cypress-multi-reporters",
  "reporterOptions": {
    "configFile": "reporter.json"
  },`

reporter.json
`{
  "reporterEnabled": "mochawesome, agent-js-cypress",
  "mochawesomeReporterOptions": {
    "reportDir": "cypress/artifacts/reports/",
    "reportFilename": "value",
    "reportTitle": "value ",
    "overwrite": true,
    "html": false,
    "js

[2020-06-11 12:44] diogogt commented on #46
It's works for me, try to remove the **rp-reporter.js** and use just:
` "reporterEnabled": "agent-js-cypress, mochawesome",`

[2020-06-11 13:32] mleonard0826 commented on #46
Thanks to you both. After following Paul's suggestion, I'm no longer getting errors in command line regarding the use of the reporters. My tests are still hanging with the launch never finishing, though (which was happening with just using agent-js-cypress too). I see other open issues that reference that problem. Has either of you gotten the launches to complete successfully without having to sto

[2020-06-11 14:29] diogogt commented on #46
On slack I found a suggest to use the dependencies from master:
`"agent-js-cypress": "https://github.com/reportportal/agent-js-cypress.git#master",`
In some cases some specs didn't finish and I put to finish automatically on ReportPortal

[2020-06-12 13:31] diogogt opened #49 "Error on launch - Last update on Master - SIGILL Error"
On last update in master I had problem on  launch and dont finished the launch on reportPortal and finish the job and the other test don't execute.

![image](https://user-images.githubusercontent.com/8478768/84507749-b1212500-ac97-11ea-8e85-6afe6c49e12f.png)

[2020-06-14 20:38] schurakov commented on #44
Thank you for your answer
I am waiting release. Issue can be closed

[2020-06-16 16:54] vishallanke commented on #46
I have observed that when I execute Git Pipeline, test cases does not get uploaded inside report portal. It happens only when few test gets failed from suite. If spec passes, then no issues, spec and tests gets uploaded. But if any test from spec test failed, then test cases does not get uploaded to report portal.

Any solution ... ?

[2020-06-16 16:59] vishallanke commented on #37
This issue still occurs on latest agent. Any solution ?

[2020-06-24 02:58] albadam000 opened #53 "TypeError: createMergeLaunchLockFile is not a function"
Following error occurs after updating to @reportportal/agent-js-cypress 5.0.0:

****/node_modules/@reportportal/agent-js-cypress/lib/reporter.js:68
      createMergeLaunchLockFile(launch, tempId);
      ^

TypeError: createMergeLaunchLockFile is not a function
    at Reporter.runStart (/Users/1077260/Documents/source/Platform/cypress-canary-tests/node_modules/@reportportal/agent-js-cypress/lib/rep

[2020-06-29 15:07] ElenaRomanchuk commented on #19
We have just released the new version of cypress reporter as a new package `@reportportal/agent-js-cypress`: https://www.npmjs.com/package/@reportportal/agent-js-cypress. The master branch matches to this released version now.
The package https://www.npmjs.com/package/agent-js-cypress is deprecated now.

[2020-06-29 15:07] #19 closed

[2020-06-29 15:20] ElenaRomanchuk commented on #36
Hi @vishallanke,
We have just released the new version of cypress reporter as a new package @reportportal/agent-js-cypress: https://www.npmjs.com/package/@reportportal/agent-js-cypress. It has a new possibility of runtime merge launch into single: https://github.com/reportportal/agent-js-cypress#automatically-merge-launches. You can try it now.
Please, let us know if this solves your issue.

[2020-06-29 15:34] ElenaRomanchuk commented on #44
Hi @vishallanke,
We have just released the new version of cypress reporter as a new package @reportportal/agent-js-cypress: https://www.npmjs.com/package/@reportportal/agent-js-cypress !

[2020-06-29 15:34] #44 closed

[2020-06-29 15:42] ElenaRomanchuk commented on #6
Hi! We have just released the new version of cypress reporter as a new package @reportportal/agent-js-cypress: https://www.npmjs.com/package/@reportportal/agent-js-cypress. You can try it now.
Please, let us know if this solves your issue.

[2020-06-29 15:47] ElenaRomanchuk commented on #9
Hi @maluyvova, @alexeiser. @rbdodds-tango, @cypressher,
We have just released the new version of cypress reporter as a new package @reportportal/agent-js-cypress: https://www.npmjs.com/package/@reportportal/agent-js-cypress. You can try it now.
Please, let us know if this solves your issue.

[2020-06-29 15:58] ElenaRomanchuk commented on #10
Hi!
We have just released the new version of cypress reporter as a new package @reportportal/agent-js-cypress: https://www.npmjs.com/package/@reportportal/agent-js-cypress. It has a new possibility of runtime merge launch into single: https://github.com/reportportal/agent-js-cypress#automatically-merge-launches. You can try it now.
Please, let us know if this solves your issue.
Also you can find t

[2020-06-29 17:37] ElenaRomanchuk commented on #53
Will be fixed in scope of #54

[2020-06-29 20:02] ElenaRomanchuk commented on #45
Hi!
We released the new version of cypress reporter as a new package `@reportportal/agent-js-cypress`: https://www.npmjs.com/package/@reportportal/agent-js-cypress. It has a new possibility of runtime merge launches into single: https://github.com/reportportal/agent-js-cypress#automatically-merge-launches. You can try it now.
Also, merge launches with 'isLaunchMergeRequired' option will be fixed i

[2020-06-29 20:03] ElenaRomanchuk commented on #45
Will be fixed in scope of #54

[2020-06-29 20:18] ElenaRomanchuk commented on #49
Hi @diogogt ,
Is this issue still reproduced with latest released vesrion https://www.npmjs.com/package/@reportportal/agent-js-cypress ?

[2020-06-29 20:35] ElenaRomanchuk commented on #46
There is an issues #37 and #35 regarding not-finished lanches.

@diogogt , we will appreciate if you can describe in details cases when launches stuck in relevant issue (or create separate issue if it's needed). This could help us to reproduce a bug. Thank you!

I close this issue because the original problem was resolved.

[2020-06-29 20:35] #46 closed

[2020-06-29 20:46] ElenaRomanchuk commented on #43
Hi @harvzkie ,
We released the new version of cypress reporter as a new package `@reportportal/agent-js-cypress`: https://www.npmjs.com/package/@reportportal/agent-js-cypress. It has a new possibility of runtime merge launches into single: https://github.com/reportportal/agent-js-cypress#automatically-merge-launches. You can try it now.
Merge launches with 'isLaunchMergeRequired' option doesn't wo

[2020-06-29 20:49] ElenaRomanchuk commented on #33
Hi @jadut ,
We released the new version of cypress reporter as a new package `@reportportal/agent-js-cypress`: https://www.npmjs.com/package/@reportportal/agent-js-cypress. You can try it now.
Please, let us know if this solves your issue.

[2020-06-29 20:52] ElenaRomanchuk commented on #25
Hi!
We released the new version of cypress reporter as a new package `@reportportal/agent-js-cypress`: https://www.npmjs.com/package/@reportportal/agent-js-cypress.
It contains some fixes regarding unfinished launches.
Please, let us know if this solves your issue.

[2020-06-29 21:00] ElenaRomanchuk commented on #8
@fraser-m-hurley-LTK Are you looking for something like this: https://github.com/reportportal/agent-js-cypress#logging ?

[2020-06-30 03:33] harvzkie commented on #43
hello @ElenaRomanchuk ,
Thank you for keeping me updated. I will check on this and will feedback to you later.

[2020-06-30 04:03] vishallanke commented on #37
This issue still exists on latest release.
From Git, test cases wont get uploaded to RP.

In previous version (1 month ago), I have observed that if all test cases gets passed, then test script and test cases gets successfully uploaded. If any of the test gets failed, then those test script as well as test cases(passed+failed from test script) wont get uploaded.

However, in this release, I found

[2020-06-30 04:05] vishallanke commented on #36
This issue is Fixed.
Latest RP is hosted on AWS EC2 UBuntu 18.4
Cypress test cases were executed from Git as well as from local machine.
Merge is working successfully.

However, https://github.com/reportportal/agent-js-cypress/issues/37 still exists.
Due to this issue, launches gets merged but test cases wont get uploaded if executed from Git.

[2020-06-30 05:12] vishallanke commented on #37
![image](https://user-images.githubusercontent.com/46259109/86085815-c41c5d80-babd-11ea-9752-9844c015b2e7.png)

Tested today on latest release.
Report portal hosted on AWS EC2, latest version - STEPS followed are - https://reportportal.io/docs/Deploy-ReportPortal-on

CYPRESS GIT PIPELINE code that triggers test cases
[code]

Package.json
[code]

Cypress.json
[code]

LOGS
[code]

[2020-06-30 06:51] ElenaRomanchuk commented on #37
Hi @vishallanke ,
We will reproduce and investigate this issue in nearest future. Thanks for updates!

[2020-06-30 06:54] #36 closed

[2020-06-30 07:07] ElenaRomanchuk commented on #24
Hi @psubrambe ,
We released the new version of cypress reporter as a new package `@reportportal/agent-js-cypress`: https://www.npmjs.com/package/@reportportal/agent-js-cypress.
It's fully compatible with ReportPortal version 5.* and async API v2 and has some additional features.
The package `agent-js-cypress` is deprecated now.

All information about configuration and usage of the reporter you can

[2020-06-30 07:37] #24 closed

[2020-06-30 09:43] ElenaRomanchuk commented on #35
Hi @albadam000 ,
Is this issue still reproducing?

[2020-06-30 13:44] fraser-m-hurley-LTK commented on #8
Hi @ElenaRomanchuk, yes this looks like it solves the question I had. Thanks for getting back to me and all your work on the cypress agent recently!!

[2020-06-30 13:56] #8 closed

[2020-06-30 14:49] #45 closed

[2020-06-30 14:49] #53 closed

[2020-07-01 16:44] diogogt commented on #45
I test with the latest version **5.0.1** and it's work, thanks.

[2020-07-03 19:29] diogogt commented on #49
Hi, I test on last version (5.0.1) and don't have this error again, thank you.

[2020-07-03 19:29] #49 closed

[2020-07-07 06:48] albadam000 commented on #35
No, issue is not reproducible anymore. Please close. Thank you

[2020-07-07 07:20] #35 closed

[2020-07-20 17:38] KurisuLim commented on #43
@harvzkie and @ElenaRomanchuk
Any update regarding this issue?
My team still has similar issues.
Tests are being launched and it's running infinitely, even though the test locally has been finished.

[2020-07-22 13:26] evjlobanova commented on #9
Please reopen issue, if it is still reproduced

[2020-07-22 13:26] #9 closed

[2020-07-22 13:28] evjlobanova commented on #10
Closed due to no answer

[2020-07-22 13:28] #10 closed

[2020-07-22 13:29] evjlobanova commented on #25
Closed due to no answer

[2020-07-22 13:29] #25 closed

[2020-07-22 13:34] #33 closed

[2020-07-22 13:34] #6 closed

[2020-07-26 07:39] vishallanke commented on #37
Hi @ElenaRomanchuk
Is there any update on this defect ?

[2020-07-27 08:42] vishallanke opened #56 "Fail to start launch Error: Request failed with status code 502"
int.json
[code]

reporter-config.json
[code]

When executed from Git Pipeline, we are getting below errors
[code]

[2020-07-27 08:45] evjlobanova commented on #56
@AmsterGet Could you please check

[2020-07-27 13:56] AmsterGet commented on #56
This seems to be a standard Bad Gateway error. Could you please check for RP server availability or server access from the git pipeline itself.

[2020-07-27 15:04] vishallanke commented on #56
Server is accessible from Gitlab.
If I remove Mocha reporting / JUnit reporting and keep only report portal agent, then it works well

[2020-07-30 04:54] vishallanke commented on #56
If you see below defect https://github.com/reportportal/agent-js-cypress/issues/37
I am using same RP server, same Gitlab, at-least not getting 502 error.
But when I use this along with Mocha reporting, I am getting error

[2020-08-02 14:48] paulmwhite opened #57 "Support for launch attributes"
I would love to see support for launch based attributes, I couldn't see anything in the documentation, but having looked at the code I have attempted to supply attributes in reporterOptions, as below:

` "reporterOptions": {
    "attributes": [
      { "key": "environment", "value": "dev" },
      { "key": "release", "value": "v0.6.0" }
    ]
  }`

This appears to work for the initial launch, but

[2020-08-02 16:45] #57 closed

[2020-08-05 09:48] vishallanke commented on #43
@KurisuLim
Are you still facing this issue - "Tests are being launched and it's running infinitely, even though the test locally has been finished. " ?

[2020-08-11 05:31] vishallanke commented on #56
Please close this issue, seems some sporadic network problem ...

[2020-08-11 05:34] vishallanke commented on #37
Our team is facing plenty of reliability issues
1. Test cases stuck in between, never gets uploaded
2. Test Status not getting updated
3. No common pattern for any issues, sometimes its working, sometimes not working

[2020-08-13 09:40] #56 closed

[2020-09-03 09:05] 0xIslamTaha commented on #43
I can confirm that this bug has been fixed with the latest release but, it takes too long time to be updated in the portal

[2020-09-22 00:56] mleonard0826 opened #59 "ECONNREFUSED with reporter only when using cypress-multi-reporters"
Working off of agent-js-cypress 1.1.3, I see that my launches are going through just fine when I have @reportportal/agent-js-cypress denoted as my only reporter. However, when attempting to use cypress-multi-reporter, I run into an ECONNREFUSED issue (though the mochawesome report generates just fine).

[code]

My cypress.json has the following:
[code]

And my reporter.json is as follows:
[code]

[2020-09-24 08:50] evjlobanova commented on #59
@AmsterGet

[2020-09-28 20:02] drewrichardson2 commented on #59
Having this same issue. To me it looks like it is not referencing the config at all and instead loading default values. The ECONNREFUSED error I get notes that it tried connecting on `localhost:80` when I have it configured instead for `localhost:8080`. I get this to work just fine if I don't use the `cypress-multi-reporters` package.

[2020-09-29 04:46] evjlobanova commented on #59
We will take a look at this issue this week

[2020-10-06 00:51] drewrichardson2 commented on #59
Hi guys, any updates on this?

[2020-10-07 14:53] vishallanke commented on #37
Due to various reliability and stability issues in current Cypress Agent as specified above, we decide to use JUnit and Cypress together.
https://github.com/vishallanke/ReportPortalCypressJUnitAgent

[2020-10-16 04:35] drewrichardson2 opened #60 "Parameter Overriding"
If it is possible override parameters, for example, `launch name`, could there be some examples/documentation? Otherwise, could it be implemented, perhaps similarly to the agent for vscode: https://github.com/reportportal/agent-net-vstest#parameters-overriding?

[2020-10-22 14:07] kpmck commented on #5
I'm curious if there has been any updates to this feature request, this would be incredibly helpful!

[2020-10-23 02:07] kpmck opened #61 "ERR_IPC_CHANNEL_CLOSED when autoMerge set to true."
I have an Angular Nx project with Cypress. When I did not set autoMerge, the tests ran and were all reported to my instance of ReportPortal.

Once I switched to autoMerge, the first spec file ran successfully, and the second (and subsequent) spec files failed out with the ERR_IPC_CHANNEL_CLOSED failure, causing only the first spec file to run.

I was able to get the autoMerge to run successfully a

[2020-10-23 13:52] ElenaRomanchuk commented on #5
Hi! This functionality is very complex and its implementation may break some popular plugins for Cypress. So, we have not implemented it.

[2020-10-29 10:01] AmsterGet commented on #59
Hello everyone!
Sorry for delay.
Our team will investigate this issue next week.
Keep for updates!

[2020-10-29 12:28] sharmadeepak43 commented on #59
Hey Everyone,  I tried installing cypress-multi-reporters plugin and did the configurations which you mentioned in the issue -https://github.com/reportportal/agent-js-cypress/issues/46 but not able to generate even a single report. These are my configurations -
cypress.json -
"reporter": "cypress-multi-reporters",
      "reporterOptions": {
        "configFile": "reporter.json",
        "mochaFile

[2020-11-02 06:22] sharmadeepak43 commented on #59
Hello Folks,
ay update on this issue ?
Regards,
Deepak

[2020-11-04 04:39] sharmadeepak43 opened #62 "Report Portal Tests Results Keep Loading In Launch Section Even After The Job Finished"
I am using Jenkins pipeline to run the job and using Report Portal with Cypress to track the test suite.
There are two job - smoke & Regression in which smoke is the upstream pipeline. I am facing one issue with Report Portal -:
 I can see the suites keep loading in launch section in reporting portal even after finishing the Jenkins job. I need to finish the suite in Reporting Portal forcefully &

[2020-11-06 08:31] sharmadeepak43 commented on #62
Hi Team, Could anyone please update me on this. As this is the blocker for us. Any help would be appreciated. Thanks!!

[2020-11-06 11:57] sharmadeepak43 opened #63 "Report Portal Shows Incorrect Test Counts In Launch Section"
Hello Team,

We are fetching results into Reporting Portal from the Jenkins job. I am facing one issue with the RP with the total test counts. We have 2 launches configured in RP - smoke_suite & regression_suite. If we compare the test counts in Jenkins jobs with RP launches, we found some of the tests missing in RP from each launch which makes RP useless due to incorrect data. I am not sure this

[2020-11-09 21:02] stu85 commented on #59
+1, also seeing the same issue when trying to use cypress-multi-reporters with "@reportportal/agent-js-cypress": "^5.0.1".

agent-js-cypress is working fine if it is configured as the only reporter, but when trying to use in conjunction with mochaesome or junit reporter I am seeing the same issue a described.

Fail to start launch Error: connect ECONNREFUSED 127.0.0.1:80

[2020-11-19 20:50] drewrichardson2 commented on #59
I fixed this issue by implementing my own config override file that runs for automation. Here's an example:

`const cypress = require('cypress');
const fs = require('fs');
const glob = require('glob');
const reportportal = require('@reportportal/agent-js-cypress')
const { mergeLaunches } = require('@reportportal/agent-js-cypress/lib/mergeLaunches');

const cypressConfigFile = 'cypress.json';
let c

[2020-11-28 03:56] drewrichardson2 opened #64 "[v5] Cypress Test Launches do not complete successfully."
**Describe the bug**
None of my launches finish. They get stuck in "in progress" until they time out after a day. We are using cypress along with the report portal`agent-js-cypress` plugin.

**To Reproduce**
We have just setup a fresh report portal installation in Kubernetes. I have tried running single cypress tests, full suites, and through circle CI and have not had a single launch finish prope

[2020-11-30 21:47] drewrichardson2 commented on #64
In addition here's what I see when I run a single spec file and drill down:

The bottom child of the run shows complete:
![image](https://user-images.githubusercontent.com/64430159/100669545-c871ce80-331a-11eb-98ed-719d0dc21ecd.png)

As does the parent of that child:
![image](https://user-images.githubusercontent.com/64430159/100669605-dd4e6200-331a-11eb-94f0-d898d36e9cf1.png)

However, it's at th

[2020-11-30 23:00] drewrichardson2 commented on #64
As an additional update, it seems directly related to the automerge option. I turned it off and the run completed.

[2020-12-08 17:04] drewrichardson2 opened #65 "Merge parallel launches"
We run our tests in parallel in circle-ci using the cypress-orbs. We've got a couple different reporters configured so I use a custom cypress runner that also configures report portal. Providing the `isLaunchMergeRequired` option as true does not work and providing `autoMerge` as true causes tests to never finish inside of Report Portal. I'd like the launches to be merged once they all finish in p

[2020-12-09 05:41] sbarber51 commented on #64
Unfortunately I am seeing the same thing. Report Portal is the only reporter that I am using, and I am not using any plugins or libraries that should interfere.

[2020-12-10 16:41] mateuszmolkaofficial opened #66 "Update low risk vulnerabilities"
When running `yarn audit` with `@reportportal/agent-js-cypress@5.0.1` installed there are low risk vulnerability issues.

The packages are:
- `minimist`
- `yargs-parser`

Could you please update them? ;)

[2020-12-21 16:34] chaoticsparks opened #68 "cy.screenshot() or automatic screenshots on fail don't load images to RP when test name contains coma or single quote"
To reproduce just add a spec file to this example with the following content:
[code]

I tried to change the screenshot name in `after:screenshot` hook but it didn't work :(

[2021-01-08 19:02] pdobrosi commented on #64
I see the same issue with

- Report portal 5.3.2
- Cypress 4.1.0
- Node JS 14.5.0

[2021-01-13 21:10] BibinQA commented on #59
I did something like this and both mochawesome and RP are working fine for me.
`{
  "reporterEnabled": "mochawesome,@reportportal/agent-js-cypress",
  "reporterOptions": {
    "reportDir": "cypress/test-results/reports/individual-reports",
    "overwrite": false,
    "reportFilename": "report",
    "html": false,
    "json": true,
    "endpoint": "http://reportportal.hci.aetna.com:8080/api/v1",

[2021-01-13 21:57] BibinQA commented on #64
I also see the same issue. with autoMerge : true, the launches never complete eventhough the run has completed. if I turn off autoMerge, no issues

[2021-01-14 17:14] BibinQA commented on #60
I thought we could use --reporter-options or -o to set the 'launch'. But then I am seeing this issue: https://github.com/reportportal/agent-js-cypress/issues/59

[2021-02-03 10:08] tamasmagyar-bridge commented on #64
Can we have an update on this issue, please?

[2021-02-22 04:54] akbarchandani commented on #64
Hi,

Can we have an update on this issue.  I am currently doing a POC and auto-merge functionally with email notification is an essential feature for us.

Thanks

[2021-02-25 08:19] weiwongfaye opened #71 "Capture all failed screenshots when enable retry in cypress"
Trying to integrate one of our project(based on cypress) with RP.  we enabled retry in cypress,  when an exception happen, it retry and there will be multiple screenshots for each attempt.
by default, this agent only send the first failure screenshot to RP,  it will be better if we can use the last one or option to send all failed screenshot to RP.

![image](https://user-images.githubusercontent.c

[2021-02-27 10:18] schomper commented on #64
We have come across this issue also. It looks like the plugin counts all the files that matches your testFiles regex to find a total number of launches and then compares that the the amount of launches it has completed.

This means that your launches not completing could be due to you:

1. Not defining the name of your test files strictly enough, meaning it counts all the files instead of just the

[2021-03-01 13:42] zsbutosi commented on #64
We had the same problem. And after digging into it, I found that the problem was with the following:
Our tests run in docker image, where the test execution started from entrypoint.
The problem was that when the tests finished, the docker stopped too.
But the report portal plugin did not sent the results yet, and did not finished the test launch either.
I solved the problem, by creating a script t

[2021-03-09 17:14] Saoife opened #73 "Tests hanging in project with large number of files"
Sometimes in a project with a large number of files, the test finishes before the agent can finish searching for any screenshots to attach. The tests in reportportal will hang after that until they time out.

[2021-03-22 20:44] pashidlos opened #76 "Custom screenshot command doesn't wait for image to be taken"
Make sure custom commands returns chainable according to [docs](https://docs.cypress.io/api/cypress-api/custom-commands/#Overwrite-screenshot-command)

this breaks integration with other plugins that are using `screenshot` command as without delay it has not complete context unless finished
Actual
![1](https://user-images.githubusercontent.com/5182956/112055849-0449d180-8b60-11eb-85d4-ca531e8c91da

[2021-03-23 09:28] tamasmagyar-bridge commented on #73
Duplicate? https://github.com/reportportal/agent-js-cypress/issues/64

[2021-03-23 09:29] tamasmagyar commented on #73
Duplicate? https://github.com/reportportal/agent-js-cypress/issues/64

[2021-03-26 08:01] tamasmagyar opened #78 "Screenshots are not uploaded to RP if the "it" part of the test contains comma or slash"
examples:
`it('user logs in, and logs out', function () {
    // some action
}`

`it('something/another thing', function () {
    // some action
}`

[2021-03-26 12:57] jitindoriya07 commented on #64
Hey @zsbutosi can you please share us script which solved your case.

[2021-03-26 15:08] zsbutosi commented on #64
@jitindoriya07 Here is my solution:
[code]

[2021-03-30 08:48] moporwal opened #79 "Test execution is not stopping automatically in report portal [v5.2.2]. need to stop forcefully after every execution to analyse"
**Describe the bug**
We have our application framework in cypress (JS)  (agent-js-cypress) which is configured with Jenkins and report portal . Report portal we have installed with kubernetes.
Basically we configure our Execution to run with the help of jenkins and analyse the result in report portal
The problem occurring is now execution is getting stopped successfully in jenkins after passing or

[2021-03-31 22:11] iivaan commented on #38
I think if you do the following will work
module.exports = (on, config) => {
  registerReportPortalPlugin(on,config);
}

instead of module.exports = (on) => registerReportPortalPlugin(on);

[2021-04-01 09:40] ElasticDragonfly commented on #73
I think that's a different issue, for this one it's the individual tests that don't get completed. Auto-merge doesn't seem to change anything either

[2021-04-01 09:47] tamasmagyar commented on #73
I think it's kind of a similar issue. The problem is Report Portal closes the "connection" and doesn't wait until the screenshots are uploaded in your case. On #64 it doesn't wait for the auto-merge. Can you check the workaround mentioned in #64 ?

[2021-04-05 22:44] AmsterGet commented on #38
@albadam000 Hello!
Have you tried the possible solution above?

[2021-04-13 08:56] lakshminagandla opened #81 "Getting issue while downloading the "agent-js-cypress" on Windows 64 bit operating system."
Hi All,

We have downloaded the "agent-js-cypress" with help of Cypress, and while downloading we are getting below warning messages. We believe due to those warning message our messages are not passing to Report portal level.

Hence could any one please help us to resolve this issue.

Error messages:

npm WARN deprecated mkdirp@0.5.1: Legacy versions of mkdirp are no longer supported. Please upda

[2021-04-13 10:11] LakshmiNagandla commented on #81
Team,  due to this log as well not passing into report portal instance.

[2021-04-15 11:44] AmsterGet commented on #37
Hello @vishallanke !
I started on this issue and am unable to reproduce it.
Tested with GitHub Actions CI in [this|https://github.com/AmsterGet/cypress-test/pull/1] repo.
All launches and their children have finished successfully and do not get stuck.
The test run results are fully displayed in the [Report Portal Demo instance|https://demo.reportportal.io/ui/#default_personal/launches/all].
Some o

[2021-04-29 10:14] katrin-kot commented on #66
Fixed and will be released in the next version.

[2021-04-29 10:14] #66 closed

[2021-05-08 18:25] andrei-mask commented on #79
I have the same issue.
Report portal [5.3.5]
agent-js-cypress 5.0.1

[2021-05-14 09:44] baradhiren commented on #59
This might have been resolved. But I was able to resolve this after three hours of trial and error by changing the reporterOption name:
Instead of "agentJsCypressReporterOptions" you should try "reportportalAgentJsCypressReporterOptions".
Have a look at the configuration part of mocha-multi-reporter: https://github.com/stanleyhlng/mocha-multi-reporters#configuring-reporters

[2021-05-14 09:51] AmsterGet commented on #59
Hello everyone!
@baradhiren thanks for your comment!
We've added the cypress example for 'cypress-multi-reporters' configuration in our [examples](https://github.com/reportportal/examples-js/blob/master/example-cypress/cypress.json).
@BibinQA, @mleonard0826 this should fix the problem!
I'll close this issue, but feel free to ask any questions.

[2021-05-14 09:51] #59 closed

[2021-05-18 01:37] mleonard0826 opened #86 ""See examples of usage here." link is broken in README"
Title pretty much says it all.

[2021-05-18 08:57] #65 closed

[2021-05-18 19:38] BibinQA commented on #59
I am still not able to over ride reporter options. for eg : launch= Regression-dev, and the run never completes on report portal.

[2021-06-07 09:51] realsilversurfer commented on #60
It is also impossible to override parameters for me. If I do so, test results never appears in RP.

[2021-06-18 14:16] piopi commented on #64
Found a workaround with `autoMerge: true`, the latest version of reportportal/client-javascript (it is a dependency of agent-js-cypress)  added a timeout option.  Add the following option in your `cypress.json` in the `reporterOptions`
[code]

[2021-07-12 13:36] Annapooraniqxf2 opened #89 "The plugins file is missing or invalid."
My cypress version is 7.7.0. I have installed agent-js-cypress also. I have followed the https://github.com/reportportal/agent-js-cypress and wanted to run the test in reportportal. I ran the test ./node_modules/.bin/cypress --reporter reportportal. When I run it like this I am getting an error called plugins file is missing or invalid. I am copying the error here
[code]

So I tried to find this m

[2021-07-16 10:35] #89 closed

[2021-09-17 13:52] ganeshhubale commented on #79
I am facing same issue with below environment setup:
`Cypress: 7.1.0`
`Report-portal: Current version: API Service: 5.3.5; Index Service: 5.0.10; Authorization Service: 5.3.5; Service UI: 5.3.5;`
`agent-js-cypress: 5.0.2`
`CI environment: GitHub actions`
`OS: Ubuntu 20.04`

Addition to this issue. It is inconsistent in uploading test results.
Mentioning Relevant issues -
#62
#63
#64
#73

[2021-10-01 14:08] MouadRS commented on #79
Hello, the same issue occurs on my side.
ENV :
Cypress 7.1.0
Reportportal : 5.3.5

[2021-10-05 00:49] leonardoggallardo commented on #79
Same here:
Cypress: 8.5.0
Report Portal: 5.5.0
agent-js-cypress: 5.0.2

[2021-10-16 04:28] akbarchandani commented on #59
Hi @AmsterGet

The cypress example with 'cypress-multi-reporters' still does not run, below is the erroe loc:

`Error: timeout of 30000ms exceeded
    at C:\Users\akbar.chandani\Documents\Akbar\Practice\VSCode\ReporPortal\examples-js\example-cypress\node_modules\@reportportal\client-javascript\lib\rest.js:36:23
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
Fail to start l

[2021-10-20 14:39] notfounnd opened #93 "Problem with "agent-js-cypress" integration"
Hi.

I'm having problems integrating Cypress and ReportPortal (5.5.0 and 5.3.5).

When using the "autoMerge" flag to merge the runs, the ReportPortal does not record (or appears not to be receiving the logs) of test runs.

Without using the option it logs one execution per file, as expected.

A validation I also performed was to check the behavior of the example project available here on GitHub. T

[2021-11-09 06:12] paritporeddiwar opened #94 "[Help Required]: Getting error : unable to verify the first certificate"
Hi Guys,

We are using Axios library and code is in Node JS. When we hit this endpoint,
https://ta-reporting.bt.siemens.com/api/v1/HORIZON/launch/import
we are getting following error
(node:50) UnhandledPromiseRejectionWarning: Error: unable to verify the first certificate

UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async fu

[2021-11-19 14:59] ponomvit opened #95 "package is not working with cypress latest version 9.0.0"
[code]

[2021-12-01 13:13] kshammout commented on #95
any update on this ?
https://github.com/reportportal/agent-js-cypress/blob/master/lib/commands/reportPortalCommands.js#L45

[2021-12-01 14:51] praveentata commented on #59
Hello All,

I had the same issue. I used the `cypress-multi-reporters` module where I have the same configuration but different `launch` [Launch Name] and it worked fine.

https://docs.cypress.io/guides/tooling/reporters#Multiple-reporters

I created another json file to configure report portal but with a different launch name.
`sanity-reporter-config.json`
[code]

Then from command line:
`npx cyp

[2021-12-01 22:11] akbarchandani commented on #59
Thanks, I would give it a go.

Kind regards,

Akbar Chandani

________________________________
From: praveentata ***@***.***>
Sent: Thursday, 2 December 2021 1:52 AM
To: reportportal/agent-js-cypress ***@***.***>
Cc: akbarchandani ***@***.***>; Comment ***@***.***>
Subject: Re: [reportportal/agent-js-cypress] ECONNREFUSED with reporter only when using cypress-multi-reporters (#59)

Hello All,

I h

[2021-12-15 14:20] CassenH opened #96 "Test results do not appear in reportportal"
I'm using "cypress": "^8.7.0" and "@reportportal/agent-js-cypress": "^5.0.2" with node 14

My reportportal implementation is already running well with testcafe for another project. Now I tried setting it up with this project that uses cypress and the results just don't show up in RP. I followed every step shown here: https://github.com/reportportal/agent-js-cypress

I turned on the debug option in

[2021-12-20 09:11] mrityunjeyan opened #97 "> `Cypress.Commands.add()` is used to create new commands, but `debug` is an existing Cypress command."
I am using cypress 9.1.1 version and requiring `require('@reportportal/agent-js-cypress/lib/commands/reportPortalCommands');`

is throwing me the following error

[code]

[2022-01-04 19:09] idan-marciano-jfrog commented on #57
@paulmwhite did you find a solution for this problem?

[2022-01-06 16:16] viktorNedelko commented on #59
@praveentata Does this way support outputs to reportPortal and another reporter (e.g. mochawesome)? I tried your way, and the mochawesome config in cypress.json is naturally ignored when
`npx cypress run --reporter cypress-multi-reporters --reporter-options configFile=sanity-reporter-config.json --spec cypress/integration/spec.js --browser chrome`
is launched from CLI, but I'd like one launch to h

[2022-01-06 16:24] praveentata commented on #59
Hi @viktorNedelko ,

You can do something like this:

[code]

[2022-01-06 17:11] viktorNedelko commented on #59
@praveentata Thank you! Your comment about the order really helped, that was the issue for me. Basically, it requires to be first and for me it only works when it's options are under `reporterOptions` property and not `agentJsCypressReporterOptions` or `reportportalAgentJsCypressReporterOptions`.

I have to say tho, the mocha config did not work under that same object, so I corrected both the orde

[2022-01-10 16:31] #96 closed

[2022-01-14 08:03] sakshi-tawani commented on #97
Facing same issue

[2022-01-18 23:55] debosmita-29 commented on #62
@sharmadeepak43 how did you integrate your Cypress run results with Report Portal?

[2022-01-25 19:38] zvpanchal commented on #97
Hi, when will this issue fix be merged to the master? We are facing the same issue.

[2022-01-27 13:08] #76 closed

[2022-01-27 13:14] AmsterGet commented on #97
Fixed in 5.0.3.

[2022-01-27 13:14] #95 closed

[2022-01-27 13:14] AmsterGet commented on #86
Fixed in 5.0.3.

[2022-01-27 13:14] #86 closed

[2022-01-27 13:19] AmsterGet commented on #73
Hello @ElasticDragonfly !
Can it be connected with https://github.com/reportportal/agent-js-cypress/issues/76?
This issue already fixed in v5.0.3.

[2022-02-02 13:57] chivekrodis commented on #93
Hi @notfoundd, thanks for the request. At the moment the agent does not seem to work correctly with the cypress-grep lib. If possible, try running the tests without using cypress-grep and see the result. You can also use the example folder to run a test with logs inside the hooks. Everything seems to be reporting correctly. Please write if you managed to run the tests without errors

[2022-02-02 19:07] notfounnd commented on #93
Hi @chivekrodis, thanks for your feedback. I’ll check out that tip.

I have an observation about this info: the demo repository does not have cypress-grep installed and it presented the same behavior.

- https://github.com/reportportal/examples-js/blob/master/example-cypress/package.json

[2022-02-08 12:16] derkraken21 opened #105 "Launches not reflected in RP Dashboard - API Token correct"
Hi, I am using the cypress-reportportal plugin and have the same configuration as specified [hier](https://github.com/reportportal/agent-js-cypress#readme) but running my test does not appear in RP.

I also included some logging in my test scripts such as:

[code]

Hopefully, someone here could help me. Maybe i forgot something to add or configure? Thank you!

[2022-02-10 17:32] brabenetz commented on #61
The Project-Repo doesn't exist anymore.
Have you found a solution?

[2022-02-11 12:07] cwolf24 opened #106 "Possible to add launchAttributes ?"
I tried to add some Launch attributes in the same way, we do it with the [agent-js-codecept](https://github.com/reportportal/agent-js-codecept), but the attributes are not available in reportportal.

Can i somehow add Launchattributes?

This is how we do it with the codecept agent ✅ :
[code]

With the cypress agent i tried 🔴 :
[code]

[2022-02-11 12:56] ekorneeva24 commented on #106
@cwolf24 maybe the key is called differently in the agent.
This is what ReportPortal awaits https://github.com/reportportal/client-javascript#startlaunch
Maybe you will be able to find how agent-js-cypress renames this key in the source code of the agent.

[2022-02-14 08:43] brabenetz commented on #64
I had this problem with the 120 Demo Tests (created by Cypress if no tests exist).
Changing plugins/index.js to add the config solved that Problem:

![image](https://user-images.githubusercontent.com/1237858/153827116-5a900e7d-7513-45ba-af7d-b6cf7f312672.png)

I also had to increase the timeout (30s where far too low) in the ReporterOptions as described from @piopi :
[code]

Report-Portal should f

[2022-02-14 10:20] brabenetz opened #107 "cy.log the order is lost"
My Cypress Test:
[code]

My Report-Portal Result:

![image](https://user-images.githubusercontent.com/1237858/153845258-136b5ce7-2b0d-4ab8-8dc6-0b97e9c5ab24.png)

Is there a way to preserve the Order of the Log-Messages?

[2022-02-14 10:24] brabenetz commented on #62
Maybe the comment helps: https://github.com/reportportal/agent-js-cypress/issues/64#issuecomment-1038807053

[2022-02-15 14:03] AmsterGet commented on #106
Hello @cwolf24 !
You can just add an `attributes` field to reporter options.
https://github.com/reportportal/examples-js/blob/master/example-cypress/cypress.json#L21
I'll update the readme file to mention this field.

[2022-02-15 15:35] kaliahinartem opened #109 "Not working with "yarn" package manager"
Hello!

My project uses yarn as a package manager.
Basically I was trying to integrate cypress-agent with my cypress config, but have been struggling a lot with making it work.

As far as I understood, the problem was that node-ipc for some reason wouldn't connect and I'm getting connection errors:
![image](https://user-images.githubusercontent.com/42048389/154092298-d1217199-dfe4-4432-8aff-25ae9f

[2022-02-15 15:55] jonasleao commented on #109
I have the same problem some help pls

[2022-02-17 08:53] cwolf24 commented on #106
@AmsterGet Thanks, with `attributes` it works now. 👍

[2022-02-17 08:53] #106 closed

[2022-02-18 14:12] notfounnd commented on #93
Hi. I created a new project using only the following dependencies:

- cypress
- agent-js-cypress

It presented same preveously behavior. Validating with another example repo (e.g. Jest), it works as expected.

![image](https://user-images.githubusercontent.com/57534340/154694673-a597e77b-5bc7-4e9f-868e-f01a3b30e888.png)

![image](https://user-images.githubusercontent.com/57534340/154694906-94cdacf

[2022-02-18 16:48] notfounnd commented on #93
@brabenetz in the plugin/index.js file I set the second parameter.

I didn't see this "trick" about timeout. I will do and I return about that try here.

![image](https://user-images.githubusercontent.com/57534340/154725197-acb36f20-6c4e-439e-a3c6-b0dd52c1a407.png)

[2022-02-18 20:57] notfounnd commented on #93
@brabenetz thanks for tip.

After I set the option 'restClientConfig' in the cypress.json file the integration worked.

[code]

[2022-02-21 16:58] BibinQA commented on #64
The original issue of autoMerge=true still exists for me after trying all the above steps. @brabenetz do you have autoMerge set to true in your reporter options

[2022-02-21 20:24] brabenetz commented on #64
yes mit autoMerge=true.

[2022-03-14 14:25] edgar-koster opened #110 "Question: add testCaseId and attributes to suite"
I'm implementing this agent and it is working. Now I also want to add a `testCaseId` and `attributes` to a suite. I tried this with this in the `before` of a suite (`describe`) but it doesn't work.

[code]

I don't see this information comming in the report portal database either.

Can someone help here?

[2022-03-17 00:16] lgg opened #111 "YOUR CODE IS INFECTED WITH MALICIOUS DEPENDENCY - node-ipc"
Newest version of node-ipc delete all users's files from device. You should not use this dependency anymore!

You can learn more here: https://gist.github.com/MidSpike/f7ae3457420af78a54b38a31cc0c809c

Check possible solution that already applied in `vue.js`: https://github.com/vuejs/vue-cli/issues/7054#issuecomment-1068677029

[2022-03-17 09:02] rajaspar commented on #109
Are there any plans to support this?

[2022-03-18 07:03] AmsterGet commented on #111
Hello @lgg !
We noticed the presence of malicious code in the new version of node-ipc.
Our agent is using a fixed version of node-ipc (9.1.1), but we will consider moving to a more robust solution.
Thanks!

[2022-03-28 15:55] dzwarg commented on #110
Attributes on a suite are set in the `reporterOptions` - see #106

[2022-04-06 10:01] CassenH commented on #64
I tried this but it seems that Cypress never finishes. Did you add anything else to ensure that the process ends?

[2022-04-07 02:04] landhu commented on #79
Any one can help to INVESTIGATE?

[2022-04-07 02:54] landhu commented on #79
I had same issue. But I found if not add autoMerge=true option. It can be fixed.
you can try it.

[2022-04-08 14:50] brabenetz commented on #61
@AM1988 I have done the following: https://github.com/reportportal/agent-js-cypress/issues/64#issuecomment-1038807053
Maybe there is something in it for you.

[2022-04-08 15:04] AM1988 commented on #61
@brabenetz thank you, will try this. And could you please share the info about how your cypress/plugins/index.js look like?

[2022-04-08 15:37] brabenetz commented on #61
@AM1988
[code]

[2022-04-11 11:35] AM1988 commented on #93
@notfounnd could you please tell us if you have an issue with cypress": "9.5.3" and "@reportportal/agent-js-cypress": "5.0.3" that when the test execution has been finished the test run in RP is still in progress? (like in the attached screenshot)
![image](https://user-images.githubusercontent.com/19313323/162730902-4b2a699c-c023-42e9-9c42-30ae9439fae9.png)

@brabenetz I've applied all your tips,

[2022-04-13 12:31] AM1988 opened #113 "Before hook: Test execution is not stopping automatically in report portal"
Hello.

Test execution is not stopping automatically in the report portal if one of the test suites contains the before hook.
When I placed the code from the `before` hook to the `beforeEach` hook then things are working fine.

To reproduce the issue just clone the example https://github.com/reportportal/examples-js/tree/master/example-cypress

and in one of the existing tests add `before` hook, f

[2022-04-15 17:14] rdyercrx commented on #38
I have, and I am also seeing the same issue.

[2022-04-16 03:45] rdyercrx opened #114 "Unintended behavior of blobbing in get*Screenshot methods causes screenshots not to be found."
Y'all are gonna need to rethink the patterning with the getFailed|passed|CustomScreenshots methods

We've got suite scopes demarcated by [suite] in the test name in addition to splitting out by describe blocks.  glob tends to cause some major issues with the way you guys do

[code]
 will return empty for us with our filenames of pattern
 [smoke] <describe text> -- [smoke] <it text> (failed).png
 ,

[2022-04-29 13:20] andrejsmogrovic opened #198 "RP for cypress + cucumber preprocessor"
I am using cypress + cucumber stack for automation, and would like to attach report portal on cucumber test scenarios. The Cypress + report portal works fine, but the steps are not detailed as expected. Is there any guideline for setting up this combination? So far, I wasn't successfull with the implementation of agent-js-cucumber in cypress+cucumber stack.

[2022-05-12 16:29] notfounnd commented on #93
@AM1988 I've had an similiar issue like it inside on our CI/CD process execution. In my troubleshooting I took a chance about the end of communication between CI/CD and RP.

Pipeline was killing virtual machine instance before it send all messages from test execution to RP.

I solved this issue adding an a explicit wait (30 seconds) on my pipeline script execution.

[code]

[2022-05-30 11:16] LiZhang19817 opened #115 "which Cypress Version is supported by this plugin?"
Hi Guys,

Want to confirm which Cypress Version is supported by this plugin?

Thanks
Luffy Zhang

[2022-06-08 14:17] CassenH opened #116 "Error thrown when spec finishes for new Cypress 10"
I'm getting this error right then the first spec finishes for Cypress Version 10.0.3

[code]

[2022-06-08 14:27] CassenH commented on #115
I've been using this for a while now in my CICD pipeline. It works like a charm for 9.X

Since Cypress 10 just came out, I tried updating one of my projects to 10.0.3 today. Unfortunately this did not work out of the box using this plugin. I documented the error I'm getting [here](https://github.com/reportportal/agent-js-cypress/issues/116). For now I will stay on version 9.7 in all of my projects

[2022-06-15 15:28] notfounnd commented on #116
@CassenH in an overview, I understand this agent ins't compatible with Cypress 10.

RP agent uses cypress.json to resolve its setup. The new version of Cypress changed config file format.
- cypress.json --> cypress.config.js

You can see here: https://docs.cypress.io/guides/references/changelog#10-0-0

[2022-06-15 15:37] #93 closed

[2022-06-15 15:54] AM1988 commented on #113
Hi there. Any updates on this?

[2022-06-21 11:02] AmsterGet commented on #116
Hello @CassenH @notfounnd !
Please see https://github.com/reportportal/agent-js-cypress/issues/115
Any contribution is greatly appreciated 😄

[2022-06-21 11:13] AmsterGet commented on #113
@AM1988 The task for investigation has been created.
We will try to put this fix into the next patch release, but as a workaround I recommend to forbid hooks reporting via `reportHooks: false` configuration parameter if it suites you as a temporary solution.

[2022-06-21 11:53] AM1988 commented on #113
@AmsterGet I see. Unfortunately `reportHooks: false` does not fit me.

In my eyes, this is a common flow/use case to have a before hook in test automation which may fail due to multiple reasons therefore I personally rank it as a high-priority task.

Fingers crossed, hopefully, you will find the solution soon.

Feel free to contact me if I can support you somehow.

[2022-06-21 12:20] AmsterGet commented on #113
Got it @AM1988 .
We will keep in touch.

[2022-06-23 03:33] AspireSytemsINC opened #119 "Complete set of results not getting pushed into Report Portal."
Complete set of results not getting pushed into Report Portal. In batch of 30 scripts after pushing results for 2 scripts nothing happens and get stuck up there.

Cypress automation project changes dones as per the setps given.

All containers of Report Portal are running fine and no exception observed in the RP container Logs - Below are the logs -

reporting config for cypress.json
---
"reporter

[2022-06-23 03:36] AspireSytemsINC commented on #119
[RPLogs.txt](https://github.com/reportportal/agent-js-cypress/files/8963517/RPLogs.txt)
<img width="954" alt="RPUISnapshot" src="https://user-images.githubusercontent.com/96147472/175203633-bbd73821-cc29-456a-9fa8-0d7f9b1d39ff.PNG">

Attached the RP Container Logs and RP UI Snapshot

[2022-06-27 10:35] AM1988 commented on #113
@AmsterGet @DzmitryHumianiuk hi there. Do you have any updates on this?

[2022-06-27 21:10] AspireSytemsINC commented on #119
Hi, is there anyway to debug this issue since even container logs are not showing any exception?

[2022-06-29 09:51] AmsterGet commented on #113
Hello @AM1988 !
We have scheduled work on this in the current sprint (started today).
I will keep you updated.

[2022-07-04 06:35] zlareb1-yb commented on #105
I am also facing the same issue. Any updates here?

[2022-07-11 15:42] AM1988 commented on #113
@AmsterGet hope you are doing well.

Do you have an update on this? Were you able to reproduce and maybe even fix this issue?

[2022-07-11 23:14] AmsterGet commented on #113
Hi @AM1988 !

Yes, the problem was reproduced according to steps you described. One important configuration setting that must be set to fully reproduce this issue is `autoMerge: true`.

Seems like the test framework kills the process before it can finish launch and its children due to hook error.

We are currently working on exploring alternatives for implementing auto merging functionality and mo

[2022-07-25 07:02] AM1988 commented on #113
@AmsterGet hey. Have you found alternatives regarding this issue? Would be great if you could give an update on this, maybe ETA?

[2022-08-12 09:23] SergFedosov commented on #115
Hi guys,
does 5.0.4 version is supporting cypress 10.3.1? When **agent-js-cypress** will be supporting cypress 10 ?

[2022-08-12 09:32] AmsterGet commented on #115
Hello @SergFedosov !
We plan to release support of Cypress 10.x in agent's 5.1.0 release. The approximate ETA is one-two weeks.

[2022-08-12 09:38] AmsterGet commented on #113
Hello @AM1988 !
Research work on this is currently on hold in line with our priorities.
I hope that we will return to work after my vacation on September 11th. Therefore, after this date, it may take several sprints to finish the research and implement it.

[2022-08-14 15:15] praveentata commented on #116
I see the same error with Cypress 10.
The error shows up immediately when the specs are run using tags using `cypress-tags` library.
When running one `spec` file, it runs for sometime and then throws the same error.

Any help is appreciated.
Thanks :)

[2022-09-01 15:52] tvamev commented on #64
Wow. This answer from @schomper  is right! I had to pass individual file names instead of mentioning *.spec.js etc. Also if i pass all spec files from command line also, it does not work. I need to mention all spec files in the cypress json file. Then only it works without any issues.

[2022-09-05 10:41] orgads commented on #116
I pushed #126 (a revised version of #123), which fixes the issue.

Until this is merged, I created a forked package @audc/reportportal-agent-js-cypress.

You can install it without any code changes by: `npm install @reportportal/agent-js-cypress@npm:@audc/reportportal-agent-js-cypress`.

Once the fix is merged in and released, you can switch back to the original package.

[2022-09-22 13:16] rajaspar commented on #115
Hello @AmsterGet Is there an update on this release?

We upgraded to Cypress 10x a while ago and we've been unable to publish the results onto the report portal. Unfortunately, we don't have an option to downgrade the Cypress version.

[2022-09-22 13:36] AmsterGet commented on #115
Hello @rajaspar and guys!
Sorry, I was on a long vacation and the fix was delayed.
We plan to publish the requested version soon (in 1-2 days). Now the release process is in progress.
As a temporary workaround you can use approach mentioned in [this issue comment](https://github.com/reportportal/agent-js-cypress/issues/116#issuecomment-1236834177).
Stay tuned.

[2022-09-22 16:48] #116 closed

[2022-09-22 16:53] AmsterGet commented on #116
Hello guys!
The version 5.1.0 released with Cypress 10.x support. Please [try it](https://www.npmjs.com/package/@reportportal/agent-js-cypress).
Thanks to @orgads and @dwentland24 !

[2022-09-22 16:54] AmsterGet commented on #115
The version 5.1.0 released with Cypress 10.x support. Please [try it](https://www.npmjs.com/package/@reportportal/agent-js-cypress).
Thanks to @orgads and @dwentland24 for contribution!

[2022-09-22 16:54] #115 closed

[2022-09-29 20:49] adelstrinidad opened #132 "Test execution doesn't stop when automerge is enable"
I noticed after installing the latest version of this agent that the issue related to executions doesn't stop when the automerge attribute is enabled persists.

**Dependencies**
Cypress version: 10.3.0
Typescript: 4.7.4
@reportportal/agent-js-cypress: 5.1.0
Browser: chrome

**Report portal settings in cypress.config.ts**
[code]
**Steps to reproduce**
1-  Run cypress in headless mode: npx cypress r

[2022-10-06 14:00] notfounnd commented on #132
Did you check this issue? It has some tips about the plugin configuration that maybe can help you.

https://github.com/reportportal/agent-js-cypress/issues/93

[2022-10-12 11:40] SergFedosov opened #133 "Lunches are not stopped"
Hello,

I use the latest version of 5.1.0 of report portal.
I noticed that lunches running all the time I need manually interrupt these lunches.

![Screenshot 2022-10-12 133710](https://user-images.githubusercontent.com/91736304/195333019-db441484-e369-4c37-96a8-d8c394222d5e.png)

Any thoughts why it's happening?

[2022-10-12 12:02] AmsterGet commented on #133
Hello @SergFedosov !
I guess you use the `autoMerge` option. Now there are a lot of issues with this feature and we are looking for a more robust solution, but there is still not ETA.
As a workaround I suggest to use the [manual launch merge option](https://github.com/reportportal/agent-js-cypress#manual-merge-launches) instead.
Let us know if the problems are due to any other reason.

[2022-10-13 08:07] SergFedosov commented on #133
Hello @AmsterGet
unfortunately your workaround above didn't help to resolve my problem. Need to dig deeper.

[2022-10-13 08:08] SergFedosov commented on #133
It's interesting if anyone already encountered with similar issue?

[2022-10-13 08:34] AmsterGet commented on #133
@SergFedosov
Why didn't the workaround work? Did you get some errors?
Could you please provide more details about the issue: verbose logs, cypress version, RP version.

[2022-10-17 15:43] notfounnd commented on #133
https://github.com/reportportal/agent-js-cypress/issues/93

[2022-10-27 03:07] notfounnd opened #134 "Error in auto merge using Cypress flag --config-file"
Hi everyone.

I'm migrating my project to Cypress 10 and when I setup the project to use a custom config file I get the following error:

[code]
In my custom config file I get the general configs from cypress.config.js and merge it with custom configs from my test.config.js.

When I not set the custom config file, it works ok.

**Project settings:**
- cypress 10.10.0
- @reportportal/agent-js-cypre

[2022-10-27 16:34] notfounnd commented on #134
I think I made it works, but I had to re-cofigure the registerReportPortalPlugin() in custom env file.

The initial setup on base config file (cypress.config.js) not persisted.

Looking anothers plugins it not seens a default way to manage plugins when the project uses custom config files, the configs persisting from the base config file.

[2022-10-27 21:59] notfounnd commented on #134
I found other issue about this error.

It also happen when the first spec file to be executed by Cypress start without tests or it just has one test.

[2022-11-08 14:48] adelstrinidad commented on #132
Hey @notfounnd! yes, I've tried this workaround, but it seems that doesn't work in the latest version of cypress and cypress agent. Waiting for a real fix and not a workaround

[2022-11-23 10:24] thomaswinkler opened #135 "Finish launches and merges"
We've been struggling with unfinished launches and merge timeouts in ReportPortal. Unfinished launches, also reported in other issues (such as #62, #63, #64, #73, #79, #133, ...) , for us, especially did come up for suites with number of test greater than 10-20. Smaller numbers appear flaky, but finish at least most of the times.

Root cause appears to be https://github.com/cypress-io/cypress/issu

[2022-11-25 10:21] toshikagarwal opened #139 "[help]: Cypress reports uploading to Report portal does not have screenshots/videos on failure"
Cypress reports uploading to Report portal does not have screenshots/videos on failure

We trigger our tests on Cypress framework, the test failures do not automatically capture the screenshots when uploaded to Report portal, is there some way to configure this?